<div class="sidenav" [ngClass]="collapsed? 'sidenav-collapsed':'' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <p>A</p>
        </button>
        <div class="logo-text" *ngIf="collapsed">Angular</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" width="25" height="25">
                <path d="M6 18 18 6M6 6l12 12" />
            </svg>              
        </button>
    </div>
    
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerlink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <svg fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" width="24" height="24">
                    <path [attr.strokeLinecap]="data.iconpath.strokeLinecap" [attr.strokeLinejoin]="data.iconpath.strokeLinejoin" [attr.d]=data.iconpath.d />
                </svg>                                                     
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>

  
